.skills-section {
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 100vh;
  min-height: 1080px;

  color: #001219;

  background: #c3e4d9;
  background-image: url(../img/skills-section-background.png);

  .skill-section-subcontainer {
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 100vh;
    min-height: 1080px;

    width: 100%;
    padding-top: 25px;

    background-image: url(../img/wave-1.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;

    .skill-box,
    .project-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      height: 650px;
      min-height: 500px;
      width: 700px;
      border-radius: 7px;
      background: rgba(255, 254, 237, 0.555);
      box-shadow: #00000059 0px 5px 15px;

      backdrop-filter: blur(3px);

      .coding-skills {
        width: 600px;
        height: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
      }

      h1 {
        margin-bottom: 60px;
      }
    }
  }
}

@media (max-width: 1500px) {
  .skills-section {
    .skill-section-subcontainer {
      .skill-box {
        width: 500px;
        .coding-skills {
          width: 450px;
        }
      }
      .project-box {
        width: 500px;
      }
    }
  }
}

@media (max-width: 1201px) {
  .skills-section {
    height: 1400px;
    .skill-section-subcontainer {
      flex-direction: column;
      height: 1400px;

      .skill-box {
        width: 500px;
        height: 550px;
        .coding-skills {
          width: 450px;
        }
      }
      .project-box {
        width: 500px;
        height: 600px;
      }
    }
  }
}
