.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  padding-top: 70px;
  color: #001219;

  background: #c3e4d9;
  background-image: url(../img/wave-1.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

  .skill-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 650px;
    min-height: 500px;
    width: 1000px;
    border-radius: 7px;
    background: rgba(250, 235, 215, 0.555);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .coding-skills,
    .other-skills {
      width: 800px;
      height: 200px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      justify-content: center;
      align-items: center;
    }
  }
}
